main {
    grid-area: main;
}

/* Contents indise main */

.pageTitle {
    grid-area: pageTitle;
}
.whoIam {
    grid-area: whoIam;
}
.side {
    grid-area: sidebar;
}
.myInterest {
    grid-area: myInterest;
}
.myGoal {
    grid-area: myGoal;
}
.myReason {
    grid-area: myReason;
}
.myWay {
    grid-area: myWay;
}

main {
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
        "pageTitle   pageTitle  pageTitle"
        "whoIam      whoIam     sidebar"
        "myInterest  myGoal     myGoal"
        "myReason    myWay      myWay";
}

@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "pageTitle"
            "whoIam"
            "sidebar"
            "myInterest"
            "myGoal"
            "myReason"
            "myWay";
    }
}

.themeImage img {
    object-position: center;
}

* {
    border: 1px solid black;
}